src/SmartPanelDemo/SmartPanels/src/SmartPanel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 U (http://www.xmlspy.com) by Steven Paul Muench (private) -->
<!--W3C Schema generated by XMLSPY v5 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="urn:jclient-smartpanel" xmlns:smart="urn:jclient-smartpanel" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attributeGroup name="StyleAttributes">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="input">
		<xs:complexType>
			<xs:attributeGroup ref="smart:StyleAttributes"/>
			<xs:attributeGroup ref="smart:DataBindingAttribute"/>
			<xs:attribute name="size" type="xs:int" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="display">
		<xs:complexType>
			<xs:attributeGroup ref="smart:StyleAttributes"/>
			<xs:attributeGroup ref="smart:DataBindingAttribute"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="label">
		<xs:complexType>
			<xs:attributeGroup ref="smart:StyleAttributes"/>
			<xs:attributeGroup ref="smart:DataBindingAttribute"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ControlType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="input"/>
			<xs:enumeration value="display"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="panel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="smart:table"/>
			</xs:sequence>
			<xs:attribute name="datamodel" type="smart:DataModelName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="smart:tr" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="cellpadding" type="xs:int" use="optional"/>
			<xs:attribute name="vo" type="smart:ViewObjectInstanceName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="smart:input"/>
				<xs:element ref="smart:label"/>
				<xs:element ref="smart:display"/>
				<xs:element ref="smart:poplist"/>
			</xs:choice>
			<xs:attribute name="colspan" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="th">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="smart:label"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="smart:th"/>
				<xs:element ref="smart:td"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ViewObjectAttributeName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ViewObjectInstanceName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DataModelName">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:attributeGroup name="DataBindingAttribute">
		<xs:attribute name="attr" type="smart:ViewObjectAttributeName" use="optional"/>
	</xs:attributeGroup>
	<xs:element name="poplist">
		<xs:complexType>
			<xs:attributeGroup ref="smart:StyleAttributes"/>
			<xs:attribute name="list-target-attrs" type="xs:NMTOKENS"/>
			<xs:attribute name="list-value-attrs" type="xs:NMTOKENS"/>
			<xs:attribute name="list-display-attrs" type="xs:NMTOKENS"/>
			<xs:attribute name="list-viewobject" type="smart:ViewObjectInstanceName" use="optional"/>
			<xs:attributeGroup ref="smart:DataBindingAttribute"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
