src/ADFMobileLocalDatabase/LocalDB/ViewController/oracle.adfinsider.localdb.mobile/HRModuleService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema elementFormDefault="qualified" targetNamespace="/oracle/adfinsider/localdb/types/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="/oracle/adfinsider/localdb/hrservices/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="/oracle/adfinsider/localdb/types/">
  <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <import namespace="/oracle/adfinsider/localdb/hrservices/common/" schemaLocation="CountriesViewSDO.xsd"/>
  <element name="getCountry">
    <complexType>
      <sequence>
        <element name="countryId" type="string"/>
      </sequence>
    </complexType>
  </element>
  <element name="getCountryResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:CountriesViewSDO"/>
      </sequence>
    </complexType>
  </element>
  <element name="findCountry">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns1:FindCriteria"/>
        <element name="findControl" type="ns1:FindControl"/>
      </sequence>
    </complexType>
  </element>
  <element name="findCountryResponse">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:CountriesViewSDO"/>
      </sequence>
    </complexType>
  </element>
</schema>